<!doctype html>
<title>Crossing Guard IAVM List</title>
<table border="0" cellspacing="10"><tr><td><a href='/'>Home</a></td><td><a href='LIST'>IAVM List</a></td></tr></table>
<h1>DISA IAVM List</h1>
<li><em>List Pulled from: <a href='http://iase.disa.mil/stigs/'>http://iase.disa.mil/stigs/</a></em></li>
<ul>
   {% for iavm in iavms %}
      <li>{{ iavm[0] }}: <a href="{{iavm[0]}}">{{ iavm[2] }}</a>  <b>{{ iavm[1] }}</b></li>
   {% else %}
      <li>IAVM's could not be retrieved.</li>
   {% endfor %}
</ul>
