<!doctype html>
<title>Crossing Guard</title>
<h1>Crossing Guard!</h1>

<p>
    Crossing Guard is a Red Hat Support site that assist you in getting 
    information <a href="IAVM/LIST">Government IAVM's</a> and how they relate to Red Hat products. 
    </br>
 
    By simply completing the form below or appending your IAVA to the end of 
    <a href="http://crossingguard-penguinforge.rhcloud.com/IAVM/">
    http://crossingguard-penguinforge.rhcloud.com/IAVM/(IAVA)
    </a> you can get a full report on the IAVM and how it relates to your Red 
    Hat products. 
</p>
<li><em>Completing the form with invalid information will give you report with 
    no data. <b>Note</b>: this does not mean that there is an IAVM for the 
    data you have provided.</em>
</li>

<form action="/IAVM/" method="post">
  <p>IAVM: <input type=text name=IAVM> 
     <input type=submit value="Get Report">
  </p>
</form>

<p>
    As an example try <a href="href="http://crossingguard-penguinforge.rhcloud.com/IAVM/2013-A-0068"><b>2013-A-0068</b></a>.
</p>

<div style="float: right;">
    <em>For issue please file them at <a href="https://github.com/sferich888/crossingguard/issue">Git Hub</a></em></br>
    Maintainer: <a href="mailto:erich@redhat.com?&subject=CrossingGuard%20Comments">Eric Rich</a>
</div>
